@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-aeonik);
}

:root {
  --color-primary: #6e75f9;
}

@layer base {
  input[type="text"]:not(:disabled) {
    @apply !bg-transparent;
  }

  input {
    @apply outline-none focus:outline-none focus-visible:outline-none;
  }
}

@layer utilities {
  .no-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

img {
  -webkit-user-drag: none; /* Safari 和 Chrome */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* IE/Edge */
  user-drag: none;
}
