@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-aeonik);
}

:root {
  --color-primary: #6e75f9;
}

@layer base {
  input[type="text"]:not(:disabled) {
    @apply !bg-transparent;
  }

  input,
  .no-outline {
    @apply outline-none focus:outline-none focus-visible:outline-none;
  }
}

@layer components {
}

@layer utilities {
  .no-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.now-msg {
  animation-name: now-msg;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  top: 44px;
}

@keyframes now-msg {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

img {
  -webkit-user-drag: none; /* Safari 和 Chrome */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* IE/Edge */
  user-drag: none;
}
